body {
	margin: 0px;
	overflow-y: hidden;
	background: #f2f5f9;
}

#menu ul li {
	display: inline-block;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #556080;
	color: white;
	text-align: center;
}

#conteudo {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#nav {
	background-color: #556080;
}

#avatar {
	position: fixed;
	float: left;
	right: 72px;
	width: 300px;
	height: 200px;
	margin-top: 10px;
	z-index: 1;
	border-radius: 2%;
}

i {
	color: #556080;
	padding-right: 15px
}

#avatarForm {
	float: right;
	right: 72px;
	width: 300px;
	height: 200px;
	margin-top: 10px;
	/*overflow: ;*/
}

.avatarimg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid rgba(147, 184, 189, 0.8);
	border-radius: 50%;
}

.btnNovo {
	cursor: pointer;
	background: #fe3175;
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: white;
	text-shadow: 0 1px 1px #333;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	transition: all 0.2s linear;
}