/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {
	font-size: 14px !important;
}
.ui-g div {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
}

#center{
  margin: auto;
  width: 50%;
  border: 0px solid gray;
  padding: 10px;
}