/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {
	font-size: 14px !important;
}
#conteudo {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.ui-dialog-titlebar {
	color: white;
}

.ui-widget-header {
	background-color: white;
}

.ui-corner-top {
	
	background-image: linear-gradient(rgba(61, 157, 179, 0.5),
		rgb(61, 157, 179));
}

.ui-state-default {
	background-image: linear-gradient(rgba(61, 157, 179, 0.5),
		rgb(61, 157, 179));
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	transition: all 0.2s linear;
}

.ui-widget-content {
	border: 1px solid #fff;
}

.ui-datatable-empty-message {
	padding: 8px 5px;
	color: #000;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #33
}

.ui-icon {
	background-color: white;
}

.ui-widget-header {
	background-image: linear-gradient(rgba(61, 157, 179, 0.5),
		rgb(61, 157, 179));
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	transition: all 0.2s linear;
}
.ui-helper-clearfix{
	background-image: linear-gradient(rgba(61, 157, 179, 0.5),
		rgb(61, 157, 179));
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	transition: all 0.2s linear;
	
}

 .ui-corner-top {
 background-image: linear-gradient(rgba(61, 157, 179, 0.5),
		rgb(61, 157, 179));
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	transition: all 0.2s linear;
 }
 .ui-draggable-handle{
 background-image: linear-gradient(rgba(61, 157, 179, 0.5),
		rgb(61, 157, 179));
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	transition: all 0.2s linear;
 }

